/* 0. 전체설정 */

html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    background-color: black
}
.wall{
    color: white;   
    flex: 1 1 0;
}

/* 1. head */
#head {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
h1{
    margin:0;
    padding: 0;
}

/* 2. main */

/* 2-1. 큰 틀 */
#mainContent{
    flex: 5 0 0;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}
#main {
    flex: 5 5 0;
    display: flex;
}

/* 2-2. 스크린 */
#screenContainer{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    flex:1 1 0;
    padding: 30px;
    background-color: darkgrey;
    border-radius: 20px;
}
#resultContainer{
    align-self: flex-start;
}
#screen{
    font-size:4vw;
}
#history{
    margin: 0;
    padding: 0;
    border-radius: 50%;
}
#history:hover{
    color: white;
}
/* 2-3. 키보드 */
#keyboard{
    display: flex;
    flex-direction: column;
    flex:9 9 0;
}
.block{
    display:flex;
    flex:2 2 0;
}
.button{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: gainsboro;
    margin: 1px;
    font-size: 3vw;
}
.button:hover{
    filter:brightness(0.8);
    font-size: 4vw;
}
/* 3. foot */
#foot {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 1 1 0;
}